@{
    ViewData["Title"] = "Home Page";
}

<div role="main" class="main">

    <section id="home" class="section border-0 bg-transparent">
        <div class="container bg-secondary text-light">
            <div class="row min-height-screen align-items-center">
                <div class="col-lg-7 pt-5 pt-lg-0">
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
                        <h1 id="txtTitleStart" class="text-light font-weight-bold"></h1>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 pe-xl-5">
                            <p class="text-5 line-height-6 font-weight-regular" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationName': 'typeWriter', 'animationSpeed': 10}" id="txtContent"></p>
                        </div>
                    </div>

                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="2500">
                        <a href="#about" data-hash data-hash-offset="0" data-hash-offset-lg="0" class="btn btn-link-effect-1 text-4 mt-3 btn-link-underline-1 px-0 py-0 bg-transparent bg-color-before-light border-0 text-color-light font-weight-semi-bold text-decoration-none">Daha fazla gör <img width="25" height="25" class="rotate-r-90" src="img/demos/personal-portfolio-1/svg/arrow.svg" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-5 pt-5 pt-lg-0 text-lg-end">



                    <div class="p-relative" id="introPhoto">
                        <img id="portfolioPicture" class="img-fluid rounded-circle p-relative z-index-1 appear-animation" alt="" data-appear-animation="fadeIn" data-appear-animation-delay="200" />
                        <div class="appear-animation p-relative z-index-2" data-appear-animation="fadeIn" data-appear-animation-delay="1000">
                            <div class="p-absolute d-inline-block w-100 rotate-animation custom-curved-text-1">
                                <!-- Curved Text Generator: https://suncatcherstudio.com/curved-text-generator/ -->
                                <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path id="curvedText1" fill="none" stroke="none"
                                          d="M 32.550491,148.48008 A -108.15144,-108.15144 0 0 1 140.70194,40.328644 -108.15144,-108.15144 0 0 1 248.85338,148.48008 -108.15144,-108.15144 0 0 1 140.70194,256.63153 -108.15144,-108.15144 0 0 1 32.550491,148.48008 Z" />
                                    <text font-size="29" fill="#1c1c1c" letter-spacing="3" font-family="sans-serif" font-weight="bold">
                                        <textPath id="titleTextPath" xlink:href="#curvedText1" side="left" startOffset="5"> </textPath>
                                    </text>
                                </svg>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>

    <section id="about" class="section border-0 bg-light">
        <div class="container">
            <div class="row min-height-screen align-items-center">
                <div class="col">
                    <div class="row" id="aboutMe">
                        <div class="col-md-4 px-4">
                            <div class="p-relative">
                                <div class="p-relative z-index-1">
                                    <div class="p-absolute top-0 left-0 d-inline-block w-100 scroll-rotate custom-curved-text-2">
                                        <!-- Curved Text Generator: https://suncatcherstudio.com/curved-text-generator/ -->
                                        <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path id="curvedText2" fill="none" stroke="none"
                                                  d="M 32.550491,148.48008 A -108.15144,-108.15144 0 0 1 140.70194,40.328644 -108.15144,-108.15144 0 0 1 248.85338,148.48008 -108.15144,-108.15144 0 0 1 140.70194,256.63153 -108.15144,-108.15144 0 0 1 32.550491,148.48008 Z" />
                                            <text font-size="30" fill="#FFFFFF" letter-spacing="5" font-family="sans-serif" font-weight="bold">
                                                <textPath id="aboutMeCurvedText" xlink:href="#curvedText2" side="left" startOffset="5">AVAILABLE FOR FREELANCE JOB - </textPath>
                                            </text>
                                        </svg>
                                    </div>
                                </div>
                                <img id="aboutMeImagePath" src="img/demos/personal-portfolio-1/generic/generic-2.jpg" class="img-fluid rounded-circle" />
                            </div>
                        </div>
                        <div class="col-md-8 pt-5 pt-md-0">
                            <h3 id="aboutMeTitle"></h3>
                            <p id="aboutMeDescription" class="custom-font-1 text-9 line-height-4 font-weight-semi-bold text-color-dark"></p>
                        </div>
                    </div>
                    <div class="row mt-5 pt-4">
                        <div class="col">
                            <h3 class="short mb-3">Yetenekler</h3>
                           

                            <div style="display: inline-block; margin-right: 40%">
                                <ul id="skillsCol1" class="list-unstyled custom-list-1 text-3-5">
                                    
                                    
                                </ul>
                            </div>
                            <div style="display: inline-block">
                                <ul id="skillsCol2" class="list-unstyled custom-list-1 text-3-5">
                                    
                                    
                                </ul>
                            </div>


                        </div>
                        <div class="col-lg-2 pt-5 pt-lg-0 text-center text-lg-end">
                            <a href="#projects" data-hash data-hash-offset="0" data-hash-offset-lg="0" class="btn btn-link-effect-1 text-4 mt-3 btn-link-underline-1 px-0 py-0 bg-transparent border-0 text-color-dark font-weight-semi-bold text-decoration-none">View My Work <img width="25" height="25" class="rotate-r-90" src="img/demos/personal-portfolio-1/svg/arrow-dark.svg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="horizontal-scroller-wrapper" id="projects">
        <section class="horizontal-scroller bg-dark">
            <div class="horizontal-scroller-scroll">
                <div class="horizontal-scroller-images" id="horizontal-scroll">
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="img/demos/personal-portfolio-1/projects/project-1.jpg" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 1</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="img/demos/personal-portfolio-1/projects/project-2.jpg" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 2</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="img/demos/personal-portfolio-1/projects/project-3.jpg" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 3</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="img/demos/personal-portfolio-1/projects/project-4.jpg" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 4</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="img/demos/personal-portfolio-1/projects/project-5.jpg" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 5</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="img/demos/personal-portfolio-1/projects/project-6.jpg" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 6</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="circleSection" class="overflow-hidden custom-circle-section-1">
        <section class="section p-relative section-default border-0 p-0 m-0">
            <div class="container">
                <div class="row min-height-screen justify-content-center align-items-center">
                    <div class="col col-lg-8 text-center">
                        <div class="p-relative z-index-1">
                            <p class="custom-font-1 text-12 line-height-4 font-weight-semi-bold text-color-light pb-2">Kar ve fırtına çiçekleri ortadan kaldırabilir, ancak tohumları yok edemez.</p>
                            <a href="#extra" data-hash data-hash-offset="0" data-hash-offset-lg="0" class="btn btn-link-effect-1 text-4 mt-3 btn-link-underline-1 px-0 py-0 bg-transparent bg-color-before-light border-0 text-color-light font-weight-semi-bold text-decoration-none">Daha fazla gör <img width="25" height="25" class="rotate-r-90" src="img/demos/personal-portfolio-1/svg/arrow.svg" alt="" /></a>
                        </div>
                        <div class="bg-primary rounded-circle p-absolute" id="circleDot"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="extra" class="section border-0 bg-color-grey-scale-1 m-0">
        <div class="container">
            <div class="row min-height-screen align-items-center">
                <div class="col">
                    <h3 class="mb-5">Eğitimler ve Kurslar</h3>

                    <div class="row mt-4 mb-3">
                        <div class="col-lg-3">
                            <span class="custom-date-1 text-color-dark font-weight-medium">2008 / 2010</span>
                        </div>
                        <div class="col-lg-8 mt-3 mt-lg-0">
                            <p class="custom-font-1 text-8 font-weight-semi-bold text-color-dark mb-3">Porto Design School</p>
                            <p class="text-4 font-weight-medium line-height-7 pe-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit orem ipsum dolor sit.</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>



</div>
@section Scripts{
    <script src="~/js/Home/home.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("Get","IntroPhoto")",
                type: "GET",
                success: function (data) {
                    $("#portfolioPicture").attr('src', data.imagePath);
                    $("#titleTextPath").html(data.title);

                }
            });
        });




    </script>

}
